<div class="lookUp">
    <h3>Lookup item by text or scan a Barcode</h3>
    <br />

    <div class="fieldGroup"><label>UPC or Text Search:</label><div class="field"><input type="text" class="fieldValue barcodeTextSearch" placeholder="Brocade Text Search" /><span class="units btn btn-dark btn-sm barcodeLookupTextBtn flaticon flaticon-loupe"></span></div></div>

    <br /><br />
    <div style="width: 100%; text-align: right;">
        <btn class="btn btn-dark btn-sm flaticon flaticon-photo-camera barcodeLookupScanBtn">&nbsp;Scan</btn>
    </div>
</div>